.conteiner{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
header{
    display: flex;
    max-width: inherit;
    width: inherit;
    position: fixed;
    background-color: #262626;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);

}
.header_ul{
    display: flex;
    padding: 50px 220px;
    gap: 68px;
}
.li1{
    color: #DCB47A;
    font-family: 'Work Sans';
}
.li2{
    color: #FFFFFF;
    font-family: 'Work Sans';
}
.header_img{
    align-items: center;
    margin-left: 120px;
}